.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 12.5%;
	height: 100%;
	//z-index: 1;

	&__list {
		list-style: none;
		color: $color-white;
		font-size: 1.7rem;
		font-weight: 600;
		text-align: center;

		@include absCenter;
	}
	&__item {
		display: block;

		&:not(:first-child) {
			padding: 2rem 0;
		}
		&:not(:nth-child(4)) {
			width: 1.5rem;
		}
	}
	&__item-underline {
		position: relative;

		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $color-white;
			height: .4rem;
			border-radius: 1rem;
		}
	}
	&__item-underline--yellow {
		width: 2.5rem;
		transform: translateX(-20%);

		&:after{
			background-color: $color-yellow;
		}
	}
	&__btn-discover {
		width: 100%;
		padding: 1rem;
		background-color: $color-yellow;
		color: $color-black;
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 600;
		outline: none;
		border: none;
		position: absolute;
		bottom: 0;
		cursor: pointer;
	}
}
