.scroll-more {
	transform: rotate(-90deg);
	position: absolute;
	left: 0;
	bottom: 4.8rem;

	&__rectangle {
		margin-right: 2px;
		margin-bottom: 50px;

		&::after {
			content: '';
			width: 5rem;
			border: 1px solid $color-white;
			display: inline-block;
		}
	}
	&__text {
		color: $color-white;
	}
}
