body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.heading-primary {
	font-size: 20.5rem;
	font-weight: 900;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a {
	&:link, &:visited {
		text-decoration: none;
		color: $color-white;
	}
}
